#tomatoes{
  font-size: 16px;
  flex-direction: column;
  padding: 16px;
  .tomato_action{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .anticon-close-circle{
      position: absolute;
      top: -4px;
      right: -4px;
      background: #fff;
    }
    .descInput{
      .anticon-enter{
        display: none;
        transition: all ease-in-out .5s;
        &.show{
          display: inline-block;
        }
      }
      &:hover{
        .anticon-enter{
          display: inline-block;
        }
      }
    }
    .startButton{
      height: 32px;
    }
    .countDown{
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      height: 32px;
      padding: 4px;
      overflow: hidden;
      .text{
        position: relative;
        overflow: hidden;
      }
      .process{
        background: #F3F3F3;
        border-right: 1px solid #d9d9d9;
        position: absolute;
        height: 30px;
        top:1px;
        left: 1px;
      }
    }
  }
  .tomato_list{
    border-top: 1px solid #ddd;
    margin-top: 12px;
    padding: 16px;
    .days_tomatoes{
      margin-bottom: 12px;
      .title{
        display: flex;
        justify-content: flex-start;
        color: #999;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 4px;
        .completed_desc{
          margin-left: auto;
          color: #666;
          font-size: 12px;
        }
      }
      .tomatoes_wrapper{
        .tomato_item{
          display: flex;
          font-size: 14px;
          .date_time{
            color: #999;
            padding-right:12px;
          }
          .desc{
            color: #000;
            text-align: left;
          }
        }
      }


    }
  }
}
