#tomatos {
  font-size: 16px;
  flex-direction: column;
  padding: 16px;
}

#tomatos .tomato_action {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#tomatos .tomato_action .anticon-close-circle {
  position: absolute;
  top: -4px;
  right: -4px;
  background: #fff;
}

#tomatos .tomato_action .descInput .anticon-enter {
  display: none;
  transition: all ease-in-out .5s;
}

#tomatos .tomato_action .descInput .anticon-enter.show {
  display: inline-block;
}

#tomatos .tomato_action .descInput:hover .anticon-enter {
  display: inline-block;
}

#tomatos .tomato_action .startButton {
  height: 32px;
}

#tomatos .tomato_action .countDown {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 32px;
  padding: 4px;
  overflow: hidden;
}

#tomatos .tomato_action .countDown .text {
  position: relative;
  overflow: hidden;
}

#tomatos .tomato_action .countDown .process {
  background: #F3F3F3;
  border-right: 1px solid #d9d9d9;
  position: absolute;
  height: 30px;
  top: 1px;
  left: 1px;
}

#tomatos .tomato_list {
  border-top: 1px solid #ddd;
  margin-top: 12px;
  padding: 16px;
}

#tomatos .tomato_list .days_tomatoes {
  margin-bottom: 12px;
}

#tomatos .tomato_list .days_tomatoes .title {
  display: flex;
  justify-content: flex-start;
  color: #999;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 4px;
}

#tomatos .tomato_list .days_tomatoes .title .completed_desc {
  margin-left: auto;
  color: #666;
  font-size: 12px;
}

#tomatos .tomato_list .days_tomatoes .tomatoes_wrapper .tomato_item {
  display: flex;
  font-size: 14px;
}

#tomatos .tomato_list .days_tomatoes .tomatoes_wrapper .tomato_item .date_time {
  color: #999;
  padding-right: 12px;
}

#tomatos .tomato_list .days_tomatoes .tomatoes_wrapper .tomato_item .desc {
  color: #000;
  text-align: left;
}
