#tomatos{
  font-size: 16px;
  flex-direction: column;
  padding: 16px;
  .tomato_action{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .anticon-close-circle{
      position: absolute;
      top: -4px;
      right: -4px;
      background: #fff;
    }
    .descInput{
      .anticon-enter{
        display: none;
        transition: all ease-in-out .5s;
        &.show{
          display: inline-block;
        }
      }
      &:hover{
        .anticon-enter{
          display: inline-block;
        }
      }
    }
    .startButton{
      height: 32px;
    }
    .countDown{
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      height: 32px;
      padding: 4px;
      overflow: hidden;
      .text{
        position: relative;
      }
      .process{
        background: #F3F3F3;
        position: absolute;
        height: 32px;
        top:0;
        left: 0;
      }
    }
  }
}
