#todo{
  padding: 16px;
  .addTodo{
    .icon{
      display: none;
      transition: all ease-in-out .5s;
      &.show{
        display: inline-block;
      }
    }
    &:hover{
      .icon{
        display: inline-block;
      }
    }
  }
    .todolist{
    min-height: 33px;
    border-top: 1px solid #ddd;
    margin-top: 12px;
    .ant-collapse{
      .ant-collapse-content-box{
        padding: 0;
        .todo_item{
          &:last-child{
            border-bottom: none;
          }
        }
      }
      .ant-collapse-header{
        text-align: left
      }
    }

    .todo_item{
      display: flex;
      align-items: center;
      padding: .3em .5em;
      font-size: 14px;
      text-align: left;
      border-bottom: 1px solid #e1e1e1;
      &:focus,&:hover{
        background: rgb(249,249,249);
        .description{
          background: rgb(249,249,249);
        }
        .iconlist{
          display: flex;
        }
      }
      &.edit{
        background: #FFF4D0;
        .description{
          background: #FFF4D0;
        }
        .iconlist{
          display: flex;
        }
      }
      &.completed{
        .description{
          color: #999;
          text-decoration: line-through;
        }
      }

      .description{
        border: none;
        &:focus{
          outline: none!important;
          box-shadow: none;
        }
      }
      .iconlist{
        display: none;
        align-items: center;
        .anticon{
          margin-right: 8px;
        }
      }
      .ant-checkbox-checked .ant-checkbox-inner{
        background-color:#999;
        border-color: #999;
      }

    }
  }
}
