#todo {
  padding: 16px;
}

#todo .addTodo .icon {
  display: none;
  transition: all ease-in-out .5s;
}

#todo .addTodo .icon.show {
  display: inline-block;
}

#todo .addTodo:hover .icon {
  display: inline-block;
}

#todo .todolist {
  min-height: 33px;
  border-top: 1px solid #ddd;
  margin-top: 12px;
}

#todo .todolist .ant-collapse .ant-collapse-content-box {
  padding: 0;
}

#todo .todolist .ant-collapse .ant-collapse-content-box .todo_item:last-child {
  border-bottom: none;
}

#todo .todolist .ant-collapse .ant-collapse-header {
  text-align: left;
}

#todo .todolist .todo_item {
  display: flex;
  align-items: center;
  padding: .3em .5em;
  font-size: 14px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}

#todo .todolist .todo_item:focus, #todo .todolist .todo_item:hover {
  background: #f9f9f9;
}

#todo .todolist .todo_item:focus .description, #todo .todolist .todo_item:hover .description {
  background: #f9f9f9;
}

#todo .todolist .todo_item:focus .iconlist, #todo .todolist .todo_item:hover .iconlist {
  display: flex;
}

#todo .todolist .todo_item.edit {
  background: #FFF4D0;
}

#todo .todolist .todo_item.edit .description {
  background: #FFF4D0;
}

#todo .todolist .todo_item.edit .iconlist {
  display: flex;
}

#todo .todolist .todo_item.completed .description {
  color: #999;
  text-decoration: line-through;
}

#todo .todolist .todo_item .description {
  border: none;
}

#todo .todolist .todo_item .description:focus {
  outline: none !important;
  box-shadow: none;
}

#todo .todolist .todo_item .iconlist {
  display: none;
  align-items: center;
}

#todo .todolist .todo_item .iconlist .anticon {
  margin-right: 8px;
}

#todo .todolist .todo_item .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #999;
  border-color: #999;
}
