.index {
  max-width: 960px;
  padding: 16px;
  width: 100%;
  margin: 0 auto;
}

.index header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
}

.index header h1 {
  font-size: 16px;
  font-weight: 450;
  margin: 0;
}

.index header .userInfo {
  margin: 0 16px 0 auto;
}

.index header .userInfo .userName {
  margin-right: .3em;
}

.index header .logo {
  height: 35px;
  margin-left: 16px;
}
