.index {
  max-width: 960px;
  padding: 16px;
  width: 100%;
  margin: 0 auto;
}

.index header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
}

.index header .userInfo {
  margin: 0 16px 0 auto;
}

.index header .userInfo .userName {
  margin-right: .3em;
}

.index header .logo {
  height: 35px;
  margin-left: 16px;
}

.index main #todo {
  padding: 16px;
  width: 50%;
}

.index main #todo .addTodo {
  margin-bottom: 20px;
}

.index main #todo .addTodo .icon {
  display: none;
}

.index main #todo .addTodo .icon.show {
  display: inline-block;
  transition: all ease-in-out .5s;
}

.index main #todo .todolist {
  border-top: 1px solid #e1e1e1;
  min-height: 33px;
}
